<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-telefones-heading" data-cy="TelefonesCreateUpdateHeading" jhiTranslate="gutoApp.telefones.home.createOrEditLabel">
        Create or edit a Telefones
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gutoApp.telefones.phoneDDD" for="field_phoneDDD">Phone DDD</label>
          <input type="number" class="form-control" name="phoneDDD" id="field_phoneDDD" data-cy="phoneDDD" formControlName="phoneDDD" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gutoApp.telefones.phoneNumero" for="field_phoneNumero">Phone Numero</label>
          <input
            type="number"
            class="form-control"
            name="phoneNumero"
            id="field_phoneNumero"
            data-cy="phoneNumero"
            formControlName="phoneNumero"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gutoApp.telefones.ddd" for="field_ddd">Ddd</label>
          <select class="form-control" id="field_ddd" data-cy="ddd" name="ddd" formControlName="ddd">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('ddd')!.value?.id ? editForm.get('ddd')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
